<div class="row">
  <div class="col-sm-8 coming-soon-col height-sm-full">
    <div class="logo col-sm-6">
      <%= image_tag "logo.svg", class: "img-responsive" %>
    </div>
    <div class="col-sm-9">
      <h3><%= t "coming_soon.description" %></h3>
      <p><%= t "coming_soon.text" %></p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 coming-soon-col bg-gray-light height-sm-full">
    <h3 class="bg-gray-light new-contact-title"><%= t "coming_soon.form.title" %></h3>
    <p class="bg-gray-light new-contact-description"><%= t "coming_soon.form.description" %></p>
    <%= simple_form_for @contact, remote: true, html: { class: "bg-gray-light", data: { toggle: "validator", delay: 100 } } do |f| %>
      <%= f.input :name, placeholder: 'Name', label: false %>
      <%= f.input :email, placeholder: 'Email Address', label: false, input_html: { data: { error: t("coming_soon.form.state.email.error") } } %>
      <span id="new_contact_email_error" class="help-block"></span>
      <%= f.button :submit, t("coming_soon.form.submit.text"), class: 'btn-primary btn-block' %>
      <span id="new_contact_status" class="help-block"></span>
    <% end %>
  </div>
</div>
